html {
    background-image: url("./weather-sky.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom; 
}

body {
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Noto Sans JP', sans-serif;
}

#main-container {
    background-color: rgba(230, 230, 230, 0.692);
    width: 75%;
    min-width: 500px;
    height: 600px;
    margin: 3% auto;
    border-radius: 10px;
    padding: 0;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.568);
}

img {
    width: 50px;
    height: 50px;
    background-color: rgb(219, 219, 219);
    border-radius: 35px;
    border: 1px solid rgba(0, 0, 0, 0.137);
}

#header {
    width: 100%;
    background-color: rgba(85, 85, 85, 0.158);
    height: 100px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
}
#header-text {
    color: rgb(255, 255, 255);
    font-size: 32px;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    letter-spacing: 5px;
    text-shadow: -3px 3px 3px rgba(0, 0, 0, 0.281);
}

#main-row {
    background-color: rgba(255, 0, 0, 0);
    width: 90%;
    margin: 0 auto;
    margin-top: 18px;
    height: 450px;
}

#main-col-left{
    background-color: rgba(255, 255, 255, 0.589);
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.068);
    border-right: none;
}

.btn {
    margin: 1px auto;
    width: 100%;
    border: none;
    background-color: rgb(214, 214, 214);
    border-radius: 20px;
}

.btn:hover {
    letter-spacing: 2px;
    transition: .5s;
}

#main-col-right {
    background-color: rgba(255, 255, 255, 0.589);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;  
}

.city-div {
    border: 1px solid rgba(112, 112, 112, 0.315);
    background-color: rgba(255, 255, 255, 0.295);
    margin: 15px;
    height: 200px;
    float: left;    
    width: 90%;
    border-radius: 10px;
    padding: 15px 25px;
    line-height: 12px;
}

.city-div:hover {
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.377);
    transition: .2s;
    background-color: rgba(255, 255, 255, 0.596);
}

.forecast-div {
    border: 1px solid rgba(112, 112, 112, 0.315);
    background-color: rgba(255, 255, 255, 0.295);
    margin: 15px;
    height: 200px;
    float: left;    
    width: 90%;
    padding: 40px auto 0 auto;
    border-radius: 10px;
    display: flex;
    align-content: center;
}

.forecast-div:hover {
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.377);
    transition: .2s;
    background-color: rgba(255, 255, 255, 0.418);
}

#city-title {
    font-weight: bold;
    font-size: 20px;
}

.forecast-box {
    width: 120px;
    height: 140px;
    background-color: rgb(230, 230, 230);
    float: left;
    border: 1px solid rgba(112, 112, 112, 0.315);
    margin: 15px 1% 0px 1%;
    border-radius: 10px;
    padding: 0 4px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

footer {
    text-align: center;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: rgb(31,31,31);
    letter-spacing: 8px;
    line-height: 20px;
    font-size: 12px;
    border-top: 1px rgba(255, 255, 255, 0.315) solid;
    background-color: rgba(255, 255, 255, 0.747);
}

@media only screen and (max-width: 833px) {
    .forecast-box {
        width: 70px;
        height: 140px;
        margin: 10px auto;
    }

    #main-container{
        height: 750px;
        
    }

    #main-col-left{
        background-color: rgba(255, 255, 255, 0.589);
        justify-content: center;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px
    }

  }